.position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}
.imgg {
  transform: rotate(180deg);
  width: 7rem;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  bottom: 10px;
  font-size: large;
}
.LinkedInLink:hover {
  color: white;
  text-decoration: underline 3px black;
}
.GitHubLink:hover {
  color: white;
  text-decoration: underline 3px black;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100vh;
}

.contacttitle {
  font-weight: 400;
}

@keyframes sway {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.star {
  width: 10rem;
  left: -3rem;
  top: -1rem;
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

@media screen and (max-width: 600px) {
  .position {
    padding: 1rem;
  }
  .imgg {
    width: 3rem;
  }

  .star {
    width: 5rem;
    left: -3rem;
    top: -7rem;
    position: absolute;
    animation: sway 2.4s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
  }
}
