/* .footer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 11rem;
  padding-bottom: 11rem;
  font-size: 80%; */
  /* padding-top: 4rem; */
  /* align-items: center; */
  /* text-align: center; */
  /* margin: 4rem 0 0 0; */

.links {
  display: flex;
  flex-direction: column;
}
