.position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  

}
.imgg {
  transform: rotate(-90deg);
}

.links{
   display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}