.ProjectsCards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.description {
  padding-top: 1rem;
}
.ProjectInfo {
  padding: 0.5rem;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: khaki;
  align-items: center;
  gap: 0.5rem;

  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  width: 20rem;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.imggg {
  width: 150px;
}

@media screen and (min-width: 600px) {
  .Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
  }
  .imggg {
    width: 100px;
  }
  .title {
    margin: 5rem;
  }
}
