@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=PT+Sans:wght@700&family=Roboto+Mono&family=Roboto:wght@100&family=Space+Mono&family=Truculenta:opsz,wght@12..72,100&display=swap');

.stitle {
  text-align: center;
}

.cards {
  padding: 1rem 2rem;
  height: 30%;
  background-color: #f0b5d1;
}

.ctitle {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  
}

.servicesTitle {
  font-family: 'Space Mono', monospace;
  font-weight: 900;
  padding-left: 5%;
  margin-top: 10px;
}

.servicesSection {
  /* display: flex;
  flex-direction: row; */
  padding-top: 5rem;
  
  
}
