.primaryButton {
  background: #fff38c;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.3rem;
  /* border: none; */
  color: black;
  padding-top: max(0.4rem, 1vw);
  padding-left: max(0.4rem, 2vw);
  padding-right: max(0.4rem, 2vw);
  padding-bottom: max(0.4rem, 1vw);
  line-height: 1;
}

.primaryButton:hover {
  background: #000000;
  color: #fff38c;
}
.secondaryButton {
  padding-top: max(0.4rem, 1vw);
  padding-left: max(0.4rem, 2vw);
  padding-right: max(0.4rem, 2vw);
  padding-bottom: max(0.4rem, 1vw);
  background: #ba6666;
  border: none;
  color: black;
}
