/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=PT+Sans:wght@700&family=Roboto+Mono&family=Roboto:wght@100&family=Space+Mono&family=Truculenta:opsz,wght@12..72,100&display=swap'); */
/*
html {
  scroll-behavior: smooth;
}

body {
  padding: 2rem;
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  font-size: 16px;
} */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-font-size: 16;

  /* palette colors */
  --lemon-yellow: #fffd50;
  --light-salmon: #ffa07a;
  --flavescent: #fff38c;
  --turquoise-green: #9ecfc2;

  --page1-bg-color: var(--lemon-yellow);
  --page2-bg-color: var(--light-salmon);
  --page2-bg-color: var(--flavescent);
  --page2-bg-color: var(--turquoise-green);
}

body {
  font-size: 16px;

  font-family: 'Barlow', sans-serif;
}

.App {
  font-family: 'Barlow', sans-serif;
}


/* .imgg{
  background-color: rgb(148, 163, 176);
  padding-left: 50rem;

} */



@media screen and (max-width: 600px) {
  .imgg {
   
    padding: 10rem;


}}