*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-font-size: 16;

  --lemon-yellow: #fffd50;
  --light-salmon: #ffa07a;
  --flavescent: #fff38c;
  --turquoise-green: #9ecfc2;

  --page1-bg-color: var(--lemon-yellow);
  --page2-bg-color: var(--light-salmon);
  --page2-bg-color: var(--flavescent);
  --page2-bg-color: var(--turquoise-green);
}

body {
  font-size: 16px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
